{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

   
    <div class="row">
      
        {% for article in articles %}

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 article-details">
            <img src="{{article.urlToImage}}"  class="img-responsive"style="height:150px" >
            <h3>{{ article.title }}</h3>
            <p class="ratings"> <b> {{ article.author }}</b></p>
            <p > {{ article.description }}</p>
           
           
            <p > publishet At: {{ article.publishedAt}}</p>
        {% endfor%} 

        </div>
    </div>

</div>
{% endblock %}



				              
            