{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}


{%block content %}


        <h1>News Sources</h1>
        <ul>
            <h2>General News</h2>
            {% for sources in general %}
                <li><h2>Name: {{ sources.name }}</h2></li>
                <li>ID: {{ sources.id }}</li>
                <li>Description: {{ sources.description }}</li>
                <li>Url: <a href='{{ sources.url }}'>News sources</a></li>
                <li>Category: {{ sources.category }}</li>
                <li>Language: {{ sources.language }}</li>
                <li>Country: {{ sources.country }}</li>
            {% endfor %}
        </ul>
{% endblock%}

<body>
<!-- general news-->
<h3>General news</h3>
<ul>
    {{macro.displayNewsList(general)}}
</ul>

</body>


