{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->
<!-- 
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %} -->


{%block content %}


        
        <ul>
            <h2 style="background-color: black; text-align:center; color:white; margin-right:15px; border-radius:12px;padding:10px"><strong>General News</strong></h2>
            
            <div class='container'style='background-color:grey;border-radius:12px; font-family:Teko;font-size:20px;padding-top:10px'>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                            {% for sources in general %}
                                <ul style='text-decoration:none;list-style-type: none'>
                                    <li><h2 style="text-align: center;border-bottom: 1px"> {{ sources.name }}</h2></li>
                                    <li>ID: {{ sources.id }}</li>
                                    <li>Description: {{ sources.description }}</li>
                                    <li>Do you want to read more? <a href='{{ sources.url }}' style='color:white'><strong> our site</strong></a></li>
                                    <li>Category: {{ sources.category }}</li>
                                    <li>Language: {{ sources.language }}</li>
                                    <li>Country: {{ sources.country }}</li>
                                   
                                    <li>Interresting!  <a href="/article/{{sources.id}}"style='color:white'><strong>Read more articles</strong></a></li>
                                </ul>
                                    {% endfor %}
                                    

                    </div>
                    <div class="col-md-2"></div>
                </div>
            
    </div>


<body>
<!-- general news-->
<h3>General news</h3>
<ul>
    {{macro.displayNewsList(general)}}
</ul>

</body>
{% endblock%}

